/Bancografico/target/
/Aplicacion1/target/
/Ejercicio8/nbproject/private/
/CalculadoraPromedio/nbproject/private/
/CalculadoraPromedio/build/
/Ejercicio9/nbproject/private/
/EnfermedadesPersonas/nbproject/private/
/EnfermedadesPersonas/build/
/GastosPersona/nbproject/private/
/GastosPersona/build/
